<div class="wrapper">
	<div class="container">
  
	  <div class="row m-b-20">
		  <h4>Sass Learning</h4>
		  
    </div>

      <!-- start row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="card-box">
    
        <div class="dropdown pull-right">
          <!-- <a href="#" data-toggle="collapse" href="#sassInfo" role="button" aria-expanded="false" aria-controls="angularsetup">
            <i class="fas fa-eye-slash"></i>
          </a> -->
          
        </div>
    
        <h4 class="header-title m-t-0 "> What is Sass  </h4>
       <ol>
         <li>It's an extenstion to css than can help us write more fixble styles</li>
         <li>Use Variables, Functions, Conditional Statement and more...</li>
         <li>Split our Sass files up into modules, making it easier to keep on top of css for large projects.</li>
       </ol>
        <!-- <div class="box-container-button collapse" id="sassInfo">
          <p class="m-b-15 font-15">Set up angular cli </p>
          <pre><code highlight [textContent]="sassInfo"></code></pre>
      </div> -->
      </div>
    </div><!-- end col -->
    </div>


    <div class="row">
      <div class="col-lg-12">
        <div class="card-box">
      
          <div class="dropdown pull-right">
            <a href="#" data-toggle="collapse" href="#sasssetup" role="button" aria-expanded="false" aria-controls="angularsetup">
              <i class="fas fa-eye-slash"></i>
            </a>
            
          </div>
      
          <h4 class="header-title m-t-0 ">Sass setup using gulp  </h4>
        
          <div class="box-container-button collapse" id="sasssetup">
            <p class="m-b-15 font-15">Set up Gulp sass </p>
            <p>First, open the command line and install <a href="https://nodejs.org/en/"> node.js</a> on your computer.
            It comes with a Node Package Manager(npm) which you can use to install Gulp. After installing, 
            you can install Gulp by running npm install gulp -g. 
            The -g instructs npm to install Gulp globally on your computer (this means that you can use gulp commands anywhere on your computer.)</p>

            <p>Navigate to your project directory and run <span class="text-info"> npm init</span>. 
            This will create a package.json file, press enter and it will add what you need into
            the package.json file.</p>  

            <p>After running npm-init, type <span class="text-info">npm install gulp --save-dev </span>, this instructs npm to install Gulp into your project.
            By using --save-dev we store Gulp as a dev dependency in the package.json.</p>
            
            <p>Create a new file called <span class="text-info">gulpfile.js</span>  in your project directory — You can do this by using any text editor. 
            Start by adding the code below to your gulpfile.</p>
   
            <p>Now you can install a gulp task — in this case we would install Gulp-sass. 
              This task makes it possible to convert Sass to CSS. 
              Still using the command line, you can install Gulp-sass by running npm install gulp-sass --save-dev. 
              After that, require Gulp-sass in your gulpfile.js.

                Put var sass = require(‘gulp-sass’);under the line you required gulp.</p>
                <p>gulpfilejs all Compiling as below install using npm</p>
                <ol>
                  <li>npm install gulp --save dev</li>
                  <li>npm install sass --save-dev</li>
                  <li>npm install cleanCSS --save-dev</li>
                  <li>npm install uglify  --save-dev</li>
                  <li>npm install concat  --save-dev</li>
                  <li>npm install imagemin --save-dev</li>
                  <li>npm install browserSync --save-dev</li>
                  <li>Final gulp [run project]</li>
                
                </ol>
            <pre><code highlight [textContent]="sasssetup"></code></pre>
        </div>
        </div>
      </div><!-- end col -->
      </div>


      <!-- start row -->
  <div class="row">
      <div class="col-lg-12">
        <div class="card-box">
      
          <div class="dropdown pull-right">
            <a href="#" data-toggle="collapse" href="#sassVariable" role="button" aria-expanded="false" aria-controls="angularsetup">
              <i class="fas fa-eye-slash"></i>
            </a>
            
          </div>
      
          <h4 class="header-title m-t-0 "> Sass Variable  </h4>
        
          <div class="box-container-button collapse" id="sassVariable">
            <p class="m-b-15 font-15">Open scss file  </p>
            <pre><code highlight [textContent]="sassVariable"></code></pre>
        </div>
        </div>
      </div><!-- end col -->
      </div>


       <!-- start row -->
  <div class="row">
      <div class="col-lg-12">
        <div class="card-box">
      
          <div class="dropdown pull-right">
            <a href="#" data-toggle="collapse" href="#sassNestingstyle" role="button" aria-expanded="false" aria-controls="angularsetup">
              <i class="fas fa-eye-slash"></i>
            </a>
            
          </div>
      
          <h4 class="header-title m-t-0 "> Sass Nestingstyle  </h4>
        
          <div class="box-container-button collapse" id="sassNestingstyle">
            <p class="m-b-15 font-15">Open scss file  </p>
            <pre><code highlight [textContent]="sassNestingstyle"></code></pre>
        </div>
        </div>
      </div><!-- end col -->
      </div>


       <!-- start row -->
  <div class="row">
      <div class="col-lg-12">
        <div class="card-box">
      
          <div class="dropdown pull-right">
            <a href="#" data-toggle="collapse" href="#sassMixins" role="button" aria-expanded="false" aria-controls="angularsetup">
              <i class="fas fa-eye-slash"></i>
            </a>
            
          </div>
      
          <h4 class="header-title m-t-0 "> Sass Mixins  </h4>
        
          <div class="box-container-button collapse" id="sassMixins">
            <p class="m-b-15 font-15">Open scss file  </p>
            <pre><code highlight [textContent]="sassMixins"></code></pre>
        </div>
        </div>
      </div><!-- end col -->
      </div>


      <!-- start row -->
  <div class="row">
      <div class="col-lg-12">
        <div class="card-box">
      
          <div class="dropdown pull-right">
            <a href="#" data-toggle="collapse" href="#sassExtendInheritance" role="button" aria-expanded="false" aria-controls="angularsetup">
              <i class="fas fa-eye-slash"></i>
            </a>
            
          </div>
      
          <h4 class="header-title m-t-0 "> Sass Extend/Inheritance  </h4>
        
          <div class="box-container-button collapse" id="sassExtendInheritance">
            <p class="m-b-15 font-15">Open scss file  </p>
            <pre><code highlight [textContent]="sassExtendInheritance"></code></pre>
        </div>
        </div>
      </div><!-- end col -->
      </div>


       <!-- start row -->
  <div class="row">
      <div class="col-lg-12">
        <div class="card-box">
      
          <div class="dropdown pull-right">
            <a href="#" data-toggle="collapse" href="#sassOperators" role="button" aria-expanded="false" aria-controls="angularsetup">
              <i class="fas fa-eye-slash"></i>
            </a>
            
          </div>
      
          <h4 class="header-title m-t-0 "> Sass Operators  </h4>
        
          <div class="box-container-button collapse" id="sassOperators">
            <p class="m-b-15 font-15">Open scss file  </p>
            <pre><code highlight [textContent]="sassOperators"></code></pre>
        </div>
        </div>
      </div><!-- end col -->
      </div>

      
    
    </div>
    </div>