<div class="wrapper">
  <div class="container">

    <div class="row m-b-20">
		<h4>Slim Framwork PHP mysql rest api json</h4>
		
	</div>
<!-- start row -->
<div class="row">
  <div class="col-lg-12">
      <div class="card-box">

          <div class="dropdown pull-right">
              <a href="#" data-toggle="collapse" href="#slimrfrmsetUp" role="button" aria-expanded="false" aria-controls="slimrfrmsetUp">
                <i class="fas fa-eye-slash"></i>
              </a>
            
          </div>

          <h4 class="header-title m-t-0 "> Getting Set Up Slim Framwork project structure </h4>
          <p>Start by making a folder for your project  </p>
          <div class="box-container-button collapse" id="slimrfrmsetUp">
            <p class="m-b-15 font-15">Folder structure Slim framwork<a target="_blank" href="https://github.com/creationix/nvm"> Node Version Manager</a> (nvm) to install Node.js and npm.</p>
            <pre><code highlight [textContent]="slimfrmfolderstr"></code></pre>
            <p class="m-b-15 font-15"> Open the ~/.bash_profile file, and make sure source ~/.bashrc is written in there somewhere. Restart the terminal.</p>
            
           
        </div>
      </div>
  </div><!-- end col -->
</div>
<!-- end row -->

<!-- start row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
  
            <div class="dropdown pull-right">
                <a href="#" data-toggle="collapse" href="#composerinstall" role="button" aria-expanded="false" aria-controls="composerinstall">
                  <i class="fas fa-eye-slash"></i>
                </a>
              
            </div>
  
            <h4 class="header-title m-t-0 "> Getting Set Up Composer  </h4>
            <p>Download for windows and run <a href="https://getcomposer.org/Composer-Setup.exe"> Composer-Setup.exe </a>- it will install the latest composer version whenever it is executed.: </p>
            <div class="box-container-button collapse" id="composerinstall">
              <p class=" m-b-15 font-14"> <b> Command-line installation</b></p>
              <p>To quickly install Composer in the current directory, run the following script in your terminal. To automate the installation</p>
                <pre><code highlight [textContent]="composercommand"></code></pre>
             
              
          </div>
        </div>
    </div><!-- end col -->
  </div>
  <!-- end row -->

  <!-- start row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
  
            <div class="dropdown pull-right">
                <a href="#" data-toggle="collapse" href="#slimsetup" role="button" aria-expanded="false" aria-controls="slimsetup">
                  <i class="fas fa-eye-slash"></i>
                </a>
              
            </div>
  
            <h4 class="header-title m-t-0 ">How to Install Slim  </h4>
            <p> <b>We recommend you install Slim with Composer. Navigate into your project’s root directory and execute the bash command shown below. This command downloads the Slim Framework and its third-party dependencies into your project’s vendor/ directory.</b> : </p>
            <div class="box-container-button collapse" id="slimsetup">
                <pre><code highlight [textContent]="sliminstall"></code></pre>
              <p class=" m-b-15 font-15">Require the Composer autoloader into your PHP script, and you are ready to start using Slim.</p>
              <pre><code highlight [textContent]="slimstartrnd"></code></pre>
              <p class=" m-b-15 font-15">composer.json file cahnges</p>
              <pre><code highlight [textContent]="slimcomoserjson"></code></pre>
              
              
          </div>
        </div>
    </div><!-- end col -->
  </div>
  <!-- end row -->

    <!-- start row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
  
            <div class="dropdown pull-right">
                <a href="#" data-toggle="collapse" href="#slimprojdownload" role="button" aria-expanded="false" aria-controls="slimprojdownload">
                  <!-- <i class="fas fa-eye-slash"></i> -->
                </a>
              </div>
  <h4 class="header-title m-t-0 ">Download configration and run</h4>
            <p> <b>Download</b> : <a href="../assets/download/deployspislim.zip"> Slim PHP Mysql Rest api</a></p>
            <div class="box-container-button collapse" id="slimprojdownload">
              
            </div>
        </div>
    </div><!-- end col -->
  </div>
  <!-- end row -->


</div>
</div>