<div class="wrapper">
  <div class="container">
    <div class="row m-b-20">
		<h4>Node js Express js mysql api json</h4>
		
	</div>
<!-- start row -->
<div class="row">
  <div class="col-lg-12">
      <div class="card-box">

          <div class="dropdown pull-right">
              <a href="#" data-toggle="collapse" href="#nodeDownload" role="button" aria-expanded="false" aria-controls="nodeDownload">
                <i class="fas fa-eye-slash"></i>
              </a>
            
          </div>

          <h4 class="header-title m-t-0 "> Node Js </h4>
          <p>Node js Download : </p>
          <div class="box-container-button collapse" id="nodeDownload">
          <p class="text-muted m-b-15 font-13">Download the Node.js source code or a pre-built installer for your platform, and start developing today.
            <a href="https://nodejs.org/en/download/" target="_blank"> Node js LTS | Current </a>
          </p>
            
            <p class=" m-b-15 font-15">Installation on a Mac or Linux</p>
            <p class="m-b-15 font-15">Install Node.js and npm</p>
            <p class="m-b-15 font-15">We’re going to use <a target="_blank" href="https://github.com/creationix/nvm"> Node Version Manager</a> (nvm) to install Node.js and npm.</p>
            <pre><code highlight [textContent]="nodejs"></code></pre>
            <p class="m-b-15 font-15"> Open the ~/.bash_profile file, and make sure source ~/.bashrc is written in there somewhere. Restart the terminal.</p>
            <p class="m-b-15 font-15">Run the install command.</p>
            <pre><code highlight [textContent]="nodejsruninstall"></code></pre>
            <p class="m-b-15 font-15">Run the use command.</p>
            <pre><code highlight [textContent]="nodejsrunuse"></code></pre>
        </div>
      </div>
  </div><!-- end col -->
</div>
<!-- end row -->

<!-- start row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
  
            <div class="dropdown pull-right">
                <a href="#" data-toggle="collapse" href="#expressnodemysql" role="button" aria-expanded="false" aria-controls="expressnodemysql">
                  <i class="fas fa-eye-slash"></i>
                </a>
              
            </div>
  
            <h4 class="header-title m-t-0 "> Express js, Node js, Mysql Api </h4>
            <p>Creat a Folder <b>[Serverapi]</b> : </p>
            <div class="box-container-button collapse" id="expressnodemysql">
                <pre><code highlight [textContent]="npminit"></code></pre>
              <p class=" m-b-15 font-15">Fill all think then create package.json</p>
              <pre><code highlight [textContent]="packagejson"></code></pre>
              <p class="m-b-15 font-15">Create a file app.js</p>
              <p class="m-b-15 font-15">All Dependencies install</p>
              <pre><code highlight [textContent]="dependencies"></code></pre>
              
          </div>
        </div>
    </div><!-- end col -->
  </div>
  <!-- end row -->

  <!-- start row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
  
            <div class="dropdown pull-right">
                <a href="#" data-toggle="collapse" href="#appjsapi" role="button" aria-expanded="false" aria-controls="appjsapi">
                  <i class="fas fa-eye-slash"></i>
                </a>
              
            </div>
  
            <h4 class="header-title m-t-0 "> app.js File  </h4>
            <p> <b>All Dependencies Required Like</b> : </p>
            <div class="box-container-button collapse" id="appjsapi">
                <pre><code highlight [textContent]="requireddepen"></code></pre>
              <p class=" m-b-15 font-15">app.js file</p>
              <pre><code highlight [textContent]="appjsfileall"></code></pre>
              
              
          </div>
        </div>
    </div><!-- end col -->
  </div>
  <!-- end row -->

    <!-- start row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
  
            <div class="dropdown pull-right">
                <a href="#" data-toggle="collapse" href="#runapi" role="button" aria-expanded="false" aria-controls="runapi">
                  <i class="fas fa-eye-slash"></i>
                </a>
              
            </div>
  
            <h4 class="header-title m-t-0 "> npm start </h4>
            <p> <b>Running all api</b> : </p>
            <div class="box-container-button collapse" id="runapi">
             
              <p class=" m-b-15 font-15">Get : localhost:3000/api</p>
              <p class=" m-b-15 font-15">Get : localhost:3000/api/1</p>
              <p class=" m-b-15 font-15">Delete : localhost:3000/api/1</p>
              <p class=" m-b-15 font-15">Post : localhost:3000/api/add</p>
              <p class=" m-b-15 font-15">Put : localhost:3000/api/update</p>
              
              
              
          </div>
        </div>
    </div><!-- end col -->
  </div>
  <!-- end row -->
<!-- start row -->
<div class="row">
        <div class="col-lg-12">
            <div class="card-box">
      
                <div class="dropdown pull-right">
                    <a href="#" data-toggle="collapse" href="#slimprojdownload" role="button" aria-expanded="false" aria-controls="slimprojdownload">
                      <!-- <i class="fas fa-eye-slash"></i> -->
                    </a>
                  </div>
      <h4 class="header-title m-t-0 ">Download configration and run</h4>
                <p> <b>Download</b> : <a href="../assets/download/serverapi.zip"> Express js mysql api json</a></p>
                <div class="box-container-button collapse" id="slimprojdownload">
                  
                </div>
            </div>
        </div><!-- end col -->
      </div>
      <!-- end row -->

</div>
</div>