<div class="wrapper">
	<div class="container">
  
	  <div class="row m-b-20">
		  <h4>Angular cli CRUD App</h4>
		  
	  </div>
  <!-- start row -->
  <div class="row">
	<div class="col-lg-12">
		<div class="card-box">
  
			<div class="dropdown pull-right">
				<a href="#" data-toggle="collapse" href="#angularsetup" role="button" aria-expanded="false" aria-controls="angularsetup">
				  <i class="fas fa-eye-slash"></i>
				</a>
			  
			</div>
  
			<h4 class="header-title m-t-0 "> Getting Set Up Angular cli  </h4>
			<p>Angular CLI is the best way to get us started. We can download the tool and create a new project by running: </p>
			<div class="box-container-button collapse" id="angularsetup">
			  <p class="m-b-15 font-15">Set up angular cli </p>
			  <pre><code highlight [textContent]="angularsetupdir"></code></pre>
		</div>
		</div>
	</div><!-- end col -->
  </div>
  <!-- end row -->

  <!-- start row -->
  <div class="row">
	<div class="col-lg-12">
		<div class="card-box">
  
			<div class="dropdown pull-right">
				<a href="#" data-toggle="collapse" href="#angularcomponent" role="button" aria-expanded="false" aria-controls="angularcomponent">
				  <i class="fas fa-eye-slash"></i>
				</a>
			  
			</div>
  
			<h4 class="header-title m-t-0 "> Angular cli Create Component </h4>
			<p>Let’s create a new component to display the tasks. We can quickly create by typing: </p>
			<div class="box-container-button collapse" id="angularcomponent">
			  <p class="m-b-15 font-15">New Component Create </p>
			  <pre><code highlight [textContent]="angularcompon"></code></pre>
			  <p class="m-b-15 font-15">This command will create a new folder with four files:</p>
			  <pre><code highlight [textContent]="angularcomponfile"></code></pre>
			  <p class="m-b-15 font-15">And it will add the new componentName component to the AppModule:</p>
			  <pre><code highlight [textContent]="angularappmoduleupdate"></code></pre>
		</div>
		</div>
	</div><!-- end col -->
  </div>
  <!-- end row -->

  <!-- start row -->
  <div class="row">
	<div class="col-lg-12">
		<div class="card-box">
  
			<div class="dropdown pull-right">
				<a href="#" data-toggle="collapse" href="#angularservice" role="button" aria-expanded="false" aria-controls="angularservice">
				  <i class="fas fa-eye-slash"></i>
				</a>
			  
			</div>
  
			<h4 class="header-title m-t-0 "> Angular cli Create Service </h4>
			<p>Let’s create a new service to display the tasks. We can quickly create by typing: </p>
			<div class="box-container-button collapse" id="angularservice">
			  <p class="m-b-15 font-15">New Service Create </p>
			  <pre><code highlight [textContent]="angularservice"></code></pre>
			  <p class="m-b-15 font-15">This command will create a choose most of share folder with one file:</p>
			  <pre><code highlight [textContent]="angularservicefile"></code></pre>
			  <p class="m-b-15 font-15">And it will add the new serviceName service to the AppModule:</p>
			  <pre><code highlight [textContent]="angularappmoduleupdate"></code></pre>
		</div>
		</div>
	</div><!-- end col -->
  </div>
  <!-- end row -->

  <!-- start row -->
  <div class="row">
	<div class="col-lg-12">
		<div class="card-box">
  
			<div class="dropdown pull-right">
				<a href="#" data-toggle="collapse" href="#angularbootstrap" role="button" aria-expanded="false" aria-controls="angularbootstrap">
				  <i class="fas fa-eye-slash"></i>
				</a>
			  
			</div>
  
			<h4 class="header-title m-t-0 "> Angular cli Import Bootstap, Jquery </h4>
			<p>Let’s create a New tasks Bootstap Import and jquery . We can quickly create by typing: </p>
			<div class="box-container-button collapse" id="angularbootstrap">
			  <p class="m-b-15 font-15">New Bootstap Import</p>
			  <pre><code highlight [textContent]="angularbootstrap"></code></pre>
			  <p class="m-b-15 font-15">Import Bootstap css and jquery</p>
			  <p class="m-b-15 font-15">Second go to the ./angular-cli.json file at the root of your Angular CLI project folder, and find the scripts: [] property, and include the path to jQuery as follows</p>
			  <pre><code highlight [textContent]="angularimportfile"></code></pre>
			 
		</div>
		</div>
	</div><!-- end col -->
  </div>
  <!-- end row -->

  <!-- start row -->
  <div class="row">
	<div class="col-lg-12">
		<div class="card-box">
  
			<div class="dropdown pull-right">
				<a href="#" data-toggle="collapse" href="#angularRoute" role="button" aria-expanded="false" aria-controls="angularRoute">
				  <i class="fas fa-eye-slash"></i>
				</a>
			  
			</div>
  
			<h4 class="header-title m-t-0 "> Angular cli Routing </h4>
			<p>Let’s create a New tasks Routing Navigation. We can quickly create by typing: </p>
			<div class="box-container-button collapse" id="angularRoute">
			  <p class="m-b-15 font-15">New Routing Navigation</p>
			  <pre><code highlight [textContent]="angularroute"></code></pre>
			  <p class="m-b-15 font-15">routing.modules.ts file</p>
			  <pre><code highlight [textContent]="angularroutingfile"></code></pre>
			  <p class="m-b-15 font-15">And it will add the new Routing to the AppModule: Import AppRoutingModule</p>
			  <pre><code highlight [textContent]="angularappmoduleupdate"></code></pre>
			 
		</div>
		</div>
	</div><!-- end col -->
  </div>
  <!-- end row -->
  
  <div class="row m-b-20">
	<h4>CRUD Functionality</h4>
	
</div>

 <!-- start row -->
 <div class="row">
	<div class="col-lg-12">
		<div class="card-box">
  
			<div class="dropdown pull-right">
				<a href="#" >
				  <!-- <i class="fas fa-eye-slash"></i> -->
				</a>
			  
			</div>
  
			<h4 class="header-title m-t-0 "> Angular cli CRUD Functionality </h4>
			<p> the create-read-update-delete functionality, we are going to be modifying three files:</p>
			<ul>
				<li>src/app/folderName/serviceName.<strong>service</strong>.ts</li>
				<li>src/app/folderName/componentName.<strong>component</strong>.ts</li>
				<li>src/app/folderName/componentName.component.<strong>html</strong></li>
				</ul>
			<div class="box-container-button collapse">
			  <p class="m-b-15 font-15">New Routing Navigation</p>
			  <pre><code highlight [textContent]="angularroute"></code></pre>
			  <p class="m-b-15 font-15">routing.modules.ts file</p>
			  <pre><code highlight [textContent]="angularroutingfile"></code></pre>
			  <p class="m-b-15 font-15">And it will add the new Routing to the AppModule: Import AppRoutingModule</p>
			  <pre><code highlight [textContent]="angularappmoduleupdate"></code></pre>
			 
		</div>
		</div>
	</div><!-- end col -->
  </div>
	<!-- end row -->
	

    <!-- start row -->
		<div class="row">
			<div class="col-lg-12">
				<div class="card-box">
			
					<div class="dropdown pull-right">
						<a href="#" data-toggle="collapse" href="#angulargetalltask" role="button" aria-expanded="false" aria-controls="angulargetalltask">
							<i class="fas fa-eye-slash"></i>
						</a>
						
					</div>
			
					<h4 class="header-title m-t-0 "> Get All Tasks [Get]</h4>
					<p>Let’s modify the serviceName.service to be able to get tasks:</p>
					<div class="box-container-button collapse" id="angulargetalltask">
						<p class="text-primary">Creat module.ts file</p>
						<pre><code highlight [textContent]="angularmoduletsfile"></code></pre>
						<p class="m-b-15 font-15">folderName src/app/folderName/serviceName.service.ts</p>
						<p class="text-primary"> <span class="text-danger">Note: </span> using rxjs/RX then install npm i rxjs-compat --save</p>
						<pre><code highlight [textContent]="angularservicets"></code></pre>
						<p class="m-b-15 font-15 text-primary">Then folderName src/app/folderName/componentName.component.ts</p>
						<pre><code highlight [textContent]="angulaComponentsfile"></code></pre>
						<p class="m-b-15 font-15 text-primary">Then folderName src/app/folderName/componentName.component.html</p>
						<pre><code highlight [textContent]="angularhtmlfiles"></code></pre>
					 
				</div>
				</div>
			</div><!-- end col -->
			</div>
			<!-- end row -->

			<!-- start row -->
		<div class="row">
				<div class="col-lg-12">
					<div class="card-box">
				
						<div class="dropdown pull-right">
							<a href="#" data-toggle="collapse" href="#angularcreateInputs" role="button" aria-expanded="false" aria-controls="angularcreateInputs">
								<i class="fas fa-eye-slash"></i>
							</a>
							
						</div>
				
						<h4 class="header-title m-t-0 "> CREATE: using  input form [post]</h4>
						<p>Let’s start with the template this time. We have an input element for creating new tasks. Let’s listen to changes in the input form and when we click enter it creates the Record.</p>
						<div class="box-container-button collapse" id="angularcreateInputs">
							<p class="m-b-15 font-15 text-primary">Then folderName src/app/folderName/componentName.component.html</p>
							<pre><code highlight [textContent]="angularPOSThtmlfiles"></code></pre>
							<p class="m-b-15 font-15 text-primary">Then folderName src/app/folderName/componentName.component.ts</p>
							<pre><code highlight [textContent]="angularPostComponentsfile"></code></pre>
							
						 
					</div>
					</div>
				</div><!-- end col -->
				</div>
				<!-- end row -->

					<!-- start row -->
		<div class="row">
				<div class="col-lg-12">
					<div class="card-box">
				
						<div class="dropdown pull-right">
							<a href="#" data-toggle="collapse" href="#angularEditInputs" role="button" aria-expanded="false" aria-controls="angularEditInputs">
								<i class="fas fa-eye-slash"></i>
							</a>
							
						</div>
				
						<h4 class="header-title m-t-0 "> Edit: using  input form [Put]</h4>
						<p>Let’s start with the template this time. We have an input element for creating new tasks. Let’s listen to changes in the input form and when we click enter it creates the Record.</p>
						<div class="box-container-button collapse" id="angularEditInputs">
							<p class="m-b-15 font-15 text-primary">Then folderName src/app/folderName/componentName.component.html</p>
							<pre><code highlight [textContent]="angularPOSThtmlfiles"></code></pre>
							<p class="m-b-15 font-15 text-primary">Then folderName src/app/folderName/componentName.component.ts</p>
							<pre><code highlight [textContent]="angularPutComponentsfile"></code></pre>
							
						 
					</div>
					</div>
				</div><!-- end col -->
				</div>
				<!-- end row -->

					<!-- start row -->
		<div class="row">
				<div class="col-lg-12">
					<div class="card-box">
				
						<div class="dropdown pull-right">
							<a href="#" data-toggle="collapse" href="#angularDeleteInputs" role="button" aria-expanded="false" aria-controls="angularDeleteInputs">
								<i class="fas fa-eye-slash"></i>
							</a>
							
						</div>
				
						<h4 class="header-title m-t-0 "> Delete: using  input form [delete]</h4>
						<p>Let’s start with the template this time. We have an input element for creating new tasks. Let’s listen to changes in the input form and when we click enter it creates the Record.</p>
						<div class="box-container-button collapse" id="angularDeleteInputs">
						
							<p class="m-b-15 font-15 text-primary">Then folderName src/app/folderName/componentName.component.ts</p>
							<pre><code highlight [textContent]="angulardeleteComponentsfile"></code></pre>
							
						 
					</div>
					</div>
				</div><!-- end col -->
				</div>
				<!-- end row -->
	
  <!-- start row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
  
            <div class="dropdown pull-right">
                <a href="#" data-toggle="collapse" href="#slimprojdownload" role="button" aria-expanded="false" aria-controls="slimprojdownload">
                  <!-- <i class="fas fa-eye-slash"></i> -->
                </a>
              </div>
  <h4 class="header-title m-t-0 ">Angular cli CRUD api</h4>
						<p> <b>Download</b> : <a href="../assets/download/portfolio.zip"> Angular cli CRUD api</a></p>
						<p> <b>Download Mysql database</b> : <a href="../assets/download/info071011.sql"> Mysql Database</a></p>
            <div class="box-container-button collapse" id="slimprojdownload">
              
            </div>
        </div>
    </div><!-- end col -->
  </div>
  <!-- end row -->
  
  </div>
  </div>